<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>GET READY!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>
<div id="app">
    <v-app>
        <!-- navbar -->
        <v-app-bar color="primary" app fixed>
            <v-col class="text-center" cols="12">
                <v-icon large>sports_baseball</v-icon><strong id="site-title"> GET READY FOR THE GAME! </strong><v-icon large>sports_football</v-icon>
            </v-col>
        </v-app-bar>


        <v-main color="secondary">
            <v-flex>
                <v-container>
                    <template>
                        <v-row justify="center">
                            <add-game-item @add-item="addIt"></add-game-item>
                        </v-row>
                    </template>
                    <v-row class="mt-10">
                        <v-col sm="4">
                            <div id="packerGame">
                                <div v-show="active">A Packer Game!</div>
                            </div>
                            <v-img src="images/packers-logo-packers-funny.png" @mouseover="mouseOver" @click="showPackerList=!showPackerList"></v-img>
                            <div v-if="showPackerList">
                                <list class="mt-10" v-bind:items="items"></list>
                            </div>
                        </v-col>
                        <v-col sm="4">
                            <div id="bucksGame">
                                <div v-show="active2">A Bucks Game!</div>
                            </div>
                            <v-img src="images/bucks.png" @mouseover="active2=!active2" @click="showBucksList=!showBucksList"></v-img>
                            <div v-if="showBucksList">
                                <list class="mt-10" v-bind:items="bucksItems"></list>
                            </div>
                        </v-col>
                        <v-col sm="4">
                            <div id="brewerGame">
                                <div v-show="active3">A Brewer Game!</div>
                            </div>
                            <v-img src="images/brewers-logo-2020-2.jpg" @mouseover="active3=!active3" @click="showBrewerList=!showBrewerList"></v-img>
                            <div v-if="showBrewerList">
                                <list class="mt-10" v-bind:items="brewerItems"></list>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
            </v-flex>
        </v-main>

        <!-- footer -->
        <v-footer color="primary" padless>
            <v-col class="text-center" cols="12">
                <v-icon>sports_football</v-icon> {{ new Date().getFullYear() }} — <strong>Get ready for the game! </strong><v-icon>sports_basketball</v-icon>
            </v-col>
        </v-footer>


    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="js/app-models.js"></script>
<script src="js/components/game.js"></script>
<script src="js/app.js"></script>
</body>
</html>